<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Datos para la aplicación actual -->
  <appSettings>
    <add key="rutaArchivoConfiguracion"  value="Reporte.config"/>
    <add key="rutaArchivoLog"  value="ReporteLog.data"/>
    <add key="rutaArchivoDispositivos"  value="Dispositivos.data"/>
    <add key="nombreMemoriaCompartida"  value="FuenteMacsMem"/>
    <add key="nombreMutexCompartido"  value="FuenteMacsMutex"/>
    <add key="capacidadMemoriaCompartida"  value="1800"/>
    <!-- 18*100: 100 registros de 17 caracteres (MAC) + 1 caracter (Separador) -->
    <add key="leyendaMacSinDescripcion"  value="Desconocido"/>
  </appSettings>

</configuration>